<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/bb75595f-be00-4075-8b58-026a3ce78fe8/v3/index.json" />
  </packageSources>
</configuration>